<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    
    .full-height {
      height: 100%;
      background: linear-gradient(to bottom, #3333cc 0%, #ff6600 100%);
    }
    </style>
    </head>
  <body id="page-top">
  <div class="full-height", style="text-align:center">
  <br>
    <h1>Welcome to Birthday Bonanza!</h1>
    <br>
    <h3>Log In</h3>

    <form method="post" action="/login">
      <label for="username"> Username</label>
      <input type="text" id="username" name="username">
      <label for="password"> Password</label>
      <input type="password" id="password" name="password">
      <input type="submit" value="Log In">
    </form>
    <br>

    <a class="button" href="/">Back To Greeting Page</a>
    <br><br>
    <img src="/images/krae-26.png" alt="ol' Krae" style="width:700px">
    </div>
  </body>
  </html>