<h2>All your Cakes</h2>

<% @cakes.each do |cake|%>
    <%= cake.name%>
    <br>
    <%= cake.cook_time%>
    <br>
    <%= cake.recipe%>
    <br>
<% end%>
<a class="button" href="/cakes">Cakes</a>

<a class="button" href="/">Home</a>
