<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    
    .full-height {
      height: 100%;
      background: linear-gradient(to bottom, #ffff00 0%, #66ff33 100%);}
    </style>
</head>
<body id="page-top">
<div class="full-height", style="text-align:center">
<h2>All Your Cakes</h2>
<% unless @cakes_by_me == []%>
<% @cakes_by_me.each do |cake|%>
    <h4>Cake Name:</h4>
   <%= cake.name%>

    <br>
    <a class="button" href="/cakes/<%=cake.id%>">View</a>
    <form onsubmit="confirm('Are you sure you want to delete the following cake?')" action="/cakes/<%= cake.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
<% end%>

<% end%>
<br>
<br>
<br>
<br>
<br>



<a class="button" href="/users/<%=@current_user.id%>">Home</a>
<a class="button" href="/logout">Log out</a>
<a class="button" href="/cakes/new">New Cake</a>
</div>
</body>
  </html>