<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h2>Create New Cake</h2>

<form action="/cakes" method="POST">
    <label>Cake Name:</label>
    <br>
    <input type="text" name="cake[name]" id="cake_name">

    <br>

    <h3>Write The Procedure With Quantities</h3>
    <label>Recipe: </label>
    <br>
    <input type="text" name="cake[recipe]" id="new_recipe"></input>
    <br><br>


    <h3>Add Cook Time</h3>
    <label>Hours: </label>
    <br>
    <input type="integer" name="cake[cook_time]" id="new_cook_time"></input>
    <br><br>

    <input type="submit" value="Create New Cake">
</form>
</body>
</html>