<%= @cake.name%>
<br>
<%= @cake.cook_time%>
<br>
<%= @cake.recipe%>
<br>

<a class="button" href="/cakes">Cakes</a>

<a class="button" href="/users/account">Home</a>

<a class="button" href="/logout">Log out</a>
