<h4>Cake Name:</h4>
<%= @cake.name%>
<br>
<h4>Cake Cook Time (Hours):</h4>
<%= @cake.cook_time%>
<br>
<h4>Cake Recipe:</h4>
<%= @cake.recipe%>
<br>

<a class="button" href="/cakes">All Cakes</a>

<a class="button" href="/cakes/<%=@cake.id%>/edit">Edit Cake</a>

<a class="button" href="/users/account">Home</a>

<a class="button" href="/logout">Log out</a>
