
  <label>Name: </label>
  <h1>  <%= @user.name %> </h1>
  <label>Age: </label>
  <h1>   <%= @user.age %> </h1>
  <label>Birth Date: </label>
  <h1>  <%= @user.birth_date %> </h1>



    
<a class="button" href="/cakes">My Cake(s)</a>
<br>
<a class="button" href="/users/<%=@user.id%>/edit">Edit Profile</a>

<br>
<a class="button" href="/logout">Log Out</a>

