<h2>Edit User</h2>

<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit The User Name:</label>
    <br>
    <input type="text" name="user[name]" id="user_name" value="<%= @user.name %>">

    <br>
    <p>Select an existing baker or create a new one below.</p>


    <label>Edit The age:</label>
    <br>
    <input type="text" name="user[age]" id="user_name" value="<%= @user.name %>">

    <br>

    <label>Edit The birthdate:</label>
    <br>
    <input type="text" name="user[birth_date]" id="user_name" value="<%= @user.name %>">

    <br>

    
    
    <input type="submit" value="Edit Figure">
  </form> 


<a class="button" href="/users/account">Home</a>
