<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h2>Edit User</h2>

<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit The User Name:</label>
    <br>
    <input type="text" name="user[name]" id="user_name"

    <br>
    <br>

    <br>

    <label>Edit The birthdate:</label>
    <br>
    <input type="text" name="user[birth_date]" id="user_name"

    <br>

    
    
    <input type="submit" value="Edit User">
  </form> 


  <a class="button" href="/users/<%=@user.id%>">Home</a>

</body>
</html>