<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h2>All Historical Figures</h2>

<% @figures.each do |figure|%>
    <%= figure.name%>
    <br>
<% end%>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
</body>
</html>