<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body style="background-color:blue;">
<h2>Create New User</h2>

<form action="/users" method="POST">
    <input id="hidden" type="hidden" name="_method" value="post">
    <label>Name:</label>
    <br>
    <input type="text" name="user[name]" id="user_name">

    <br>
    <label>Username:</label>
    <br>
    <input type="text" name="user[username]" id="user_name">

    <br>
    <label>User password:</label>
    <br>
    <input type="text" name="user[password]" id="user_name">

    <br>


    <label>Birthdate Ex.(February 11th, 1995 OR yyyy-mm-dd):</label>
    <br>
    <input type="text" name="user[birth_date]" id="user_name">

    <br>

    
    
    <input type="submit" value="Create User">
  </form> 
  <a class="button" href="/">Greeting Page</a>
</body>
</html>