<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body style="background-color:crimson;">
<h1>401. Shame on you! That does not belong to you!</h1>

<a class="button" href="/">Log in/Signup Page</a>
<br>
<a class="button" href="/users/<%=@user.id%>">Back to YOUR profile...</a>

</body>
</html>
