<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body style="background-color:crimson;">
<h1>Invalid or no input! Please retry!</h1>

<a class="button" href="/users/new">Sign Up</a>

</body>
</html>