<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h1>Invalid or no input! Please retry!</h1>

<a class="button" href="/cakes/<%=@cake.id%>/edit">Edit same cake</a>

</body>
</html>
