<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body style="background-color:crimson;">
<h1>Username or Password Invalid!</h1>

<a class="button" href="/">Log in/Signup Page</a>

</body>
</html>
