<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <a href="/login">Log In</a>
  <br>
  <a href="/users/signup">Sign Up</a>

    

  </body>
</html>