<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <style>
html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: linear-gradient(to bottom, #99ccff 0%, #ff99ff 100%);
}
a {
    font-size: 50px;
}

</style>
  </head>
  <body id="page-top">
  <div class="full-height", style="text-align:center">
  <br>
  <h1> Krae's Birthday Cake Bonanza!!! </h1>
  <br><br><br><br><br><br><br><br><br>
  <a href="/login"><font>Log In</a>
  <br>
  <a href="/users/new">Sign Up</a>
  <br>
  <img src="/images/krae-12.png" alt="lil' Krae" style="width:700px">
  </div>

    

  </body>
</html>